<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#05C7F2">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="desktop.css" media="screen and (min-width: 800px)">
    <link rel="stylesheet" href="mobile.css" media="screen and (max-width: 799px)">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500|Rubik:400,500,700&display=swap&subset=latin-ext" rel="stylesheet">
    <title>Osztály - BIGAsszistant</title>
</head>
<body>
    <div class="loading-overlap" id="loading-screen">
        <div class="sk-circle" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            <div class="sk-circle1 sk-child"></div>
            <div class="sk-circle2 sk-child"></div>
            <div class="sk-circle3 sk-child"></div>
            <div class="sk-circle4 sk-child"></div>
            <div class="sk-circle5 sk-child"></div>
            <div class="sk-circle6 sk-child"></div>
            <div class="sk-circle7 sk-child"></div>
            <div class="sk-circle8 sk-child"></div>
            <div class="sk-circle9 sk-child"></div>
            <div class="sk-circle10 sk-child"></div>
            <div class="sk-circle11 sk-child"></div>
            <div class="sk-circle12 sk-child"></div>
        </div>
    </div>
    <div class="app-popup" id="popup">
        <div>
            <p>&nbsp;</p>
            <button class="app-button app-button-highlight" id="popup-dismiss">
                <h2>OK</h2>
            </button>
        </div>
    </div>
    <div class="page-title-container">
        <h1 class="noselect">Osztály</h1>
    </div>
    <div class="page-navbar-container">
        <a href="/class"><img src="assets/svg/class-icon.svg" alt="Osztály" style="filter: opacity(20%);"></a>
        <a href="/homework"><img src="assets/svg/homework-icon.svg" alt="Házi feladat"></a>
        <a href="/"><img src="assets/svg/home-icon.svg" alt="Kezdőlap"></a>
        <a href="/exams"><img src="assets/svg/exam-icon.svg" alt="Dolgozatok"></a>
        <a href="/settings"><img src="assets/svg/settings-icon.svg" alt="Beállítások"></a>
    </div>
    <div style="height: 80px;"></div>

    <div class="class-main-container">
        {{#if showInviteCode}}
            <div class="class-invite-code-container" id="invite-code">
                <h3>Meghívó kód: <span style="font-weight: 400;">{{inviteCode}}</span></h3>
            </div>
            <div class="app-divider"></div>
        {{/if}}
        <button type="button" class="app-button app-button-highlight" id="timetable">
            <h2>Órarend</h2>
        </button>
        {{#if isAdmin}}
            <button type="button" class="app-button" id="class-settings">
                <h2>Osztálybeállítások</h2>
            </button>
        {{/if}}
        <div class="app-divider"></div>
        <div class="class-classmates-container">
            {{#unless classmates}}
                <h1 class="app-card-group-title">Nincsenek osztálytársaid.</h1>
            {{else}}
                <h1 class="app-card-group-title">Osztálytársak:</h1>
                <div class="class-classmates-list">
                    {{#each classmates}}
                        {{#with this}}
                            <button type="button" class="app-button app-button-classmate open-classmate" id="{{uid}}">
                                <div>
                                    <img src="{{photoUrl}}" alt="Profilkép">
                                    <h2>{{name}}</h2>
                                </div>
                            </button>
                        {{/with}}
                    {{/each}}
                </div>
            {{/unless}}
        </div>
    </div>

    <div style="height: 80px;"></div>
    {{!-- jQuery 3.4.1 --}}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    {{!-- Firebase core SDK --}}
    <script src="/__/firebase/6.6.0/firebase-app.js"></script>
    {{!-- Firebase SDKs --}}
    <script src="/__/firebase/6.6.0/firebase-auth.js"></script>

    <script src="/__/firebase/6.6.0/firebase-functions.js"></script>
    {{!-- Init client Firebase config --}}
    <script src="/__/firebase/init.js"></script>
    {{!-- Local scripts --}}
    <script src="script/app.js"></script>
    <script src="script/main/class.js"></script>
</body>
</html>