<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#05C7F2">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="../desktop.css" media="screen and (min-width: 800px)">
    <link rel="stylesheet" href="../mobile.css" media="screen and (max-width: 799px)">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500|Rubik:400,500,700&display=swap&subset=latin-ext" rel="stylesheet">
    <title>Osztály beállítások - BIGAssistant</title>
</head>
<body>
    <div class="loading-overlap" id="loading-screen">
        <div class="sk-circle" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            <div class="sk-circle1 sk-child"></div>
            <div class="sk-circle2 sk-child"></div>
            <div class="sk-circle3 sk-child"></div>
            <div class="sk-circle4 sk-child"></div>
            <div class="sk-circle5 sk-child"></div>
            <div class="sk-circle6 sk-child"></div>
            <div class="sk-circle7 sk-child"></div>
            <div class="sk-circle8 sk-child"></div>
            <div class="sk-circle9 sk-child"></div>
            <div class="sk-circle10 sk-child"></div>
            <div class="sk-circle11 sk-child"></div>
            <div class="sk-circle12 sk-child"></div>
        </div>
    </div>
    <div class="app-popup" id="popup">
        <div>
            <p>&nbsp;</p>
            <button class="app-button app-button-highlight" id="popup-dismiss">
                <h2>OK</h2>
            </button>
        </div>
    </div>
    <div class="page-title-container">
        <h1 class="noselect">Osztály beállítások</h1>
    </div>
    <div class="page-navbar-container create-class-navbar" style="height: auto;">
        <button type="submit" class="app-button app-button-highlight noshadow" id="save-settings"><h2>Mentés</h2></button>
    </div>
    <div style="height: 80px;"></div>

    <div class="class-settings-main-container">
        <div class="settings-picture-container"><img src="{{pictureUrl}}" alt="Profilkép" id="class-picture"></div>
        <h1 class="login-main-title noselect" style="margin: 10px 0 20px 0;">{{name}}</h1>
        <div class="app-divider"></div>
        <input type="text" class="app-input" id="class-name" value="{{name}}">
        <div class="app-switch" style="margin-top: 10px;">
            <h2>Zárt osztály</h2>
            <label class="app-switch-label">
                {{#if isClosed}}
                    <input type="checkbox" class="app-switch-input" id="closed-class-switch" checked>
                {{else}}
                    <input type="checkbox" class="app-switch-input" id="closed-class-switch">
                {{/if}}
                <span class="app-switch-span noshadow"></span>
            </label>
            <p>Meghívókód használatával is engedély kell a csatalkozáshoz.</p>
        </div>
        <div class="app-divider"></div>
        <div class="create-class-picture-link-container">
            <input type="url" class="app-input" id="picture-url" placeholder="Kép link" value="{{pictureUrl}}">
            <button type="button" id="url-upload"><img src="../assets/svg/upload-icon.svg" alt="Feltöltés"></button>
        </div>
        <div class="app-switch" style="margin-top: 10px;">
            <h2>Meghívó láthatóság</h2>
            <label class="app-switch-label">
                {{#if isInviteVisible}}
                    <input type="checkbox" class="app-switch-input" id="invite-visible-switch" checked>
                {{else}}
                    <input type="checkbox" class="app-switch-input" id="invite-visible-switch">
                {{/if}}
                <span class="app-switch-span noshadow"></span>
            </label>
            <p>Meghívó látható a tagok számára is.</p>
        </div>
        <div class="app-divider"></div>
        <p style="margin: 20px; font-weight: 300; text-align: center;">A tantárgyak listájának változásai egyből érvénybe lépnek, nem függenek a "Mentés" gombtól.</p>
        <div class="class-settings-subjects-container">
            <div class="create-class-picture-link-container">
                <input type="url" class="app-input" id="subject-name" placeholder="Tantárgy neve">
                <button type="button" id="subject-add"><img src="../assets/svg/plus-icon.svg" alt="Hozzáadás"></button>
            </div>
            <div class="class-settings-subjects-list" id="subjects-list">
                {{#each subjects}}
                    <button class="app-button" disabled="disabled">
                        <h2>{{this}}</h2>
                    </button>
                {{/each}}
            </div>
        </div>
        <div class="app-divider"></div>
        <button type="button" class="app-button app-button-warning" id="delete-class">
            <h2>Osztály törlése</h2>
        </button>
    </div>

    <div style="height: 80px;"></div>
    {{!-- jQuery 3.4.1 --}}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    {{!-- Firebase core SDK --}}
    <script src="/__/firebase/6.6.0/firebase-app.js"></script>
    {{!-- Firebase SDKs --}}
    <script src="/__/firebase/6.6.0/firebase-auth.js"></script>

    <script src="/__/firebase/6.6.0/firebase-functions.js"></script>
    {{!-- Init client Firebase config --}}
    <script src="/__/firebase/init.js"></script>
    {{!-- Local scripts --}}
    <script src="../script/app.js"></script>
    <script src="../script/class/class-settings.js"></script>
</body>
</html>